.idea/*
.DS_Store
*.pyc
db.sqlite3

OFiction/static/CACHE
OFiction/static/admin
OFiction/static/bootstrap
OFiction/static/fonts
OFiction/static/_bootstrap.scss
ve
OFiction/media/photo
OFiction/media/thumbs
OFiction/media/fictions
OFiction/settings.py