{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <span style="color:red">{{ field.errors|striptags }}</span>
            {% if field|widget_type == "select" %}
                {% render_field field class+="combobox margin-vertical-10" placeholder=field.label %}
            {% elif field|widget_type == "textarea" %}
                {% render_field field class+="" placeholder=field.label %}
            {% elif field|widget_type == "multiplechoicewidget" %}
                {% render_field field class+="form-control margin-vertical-10 multiple-choice-style" placeholder=field.label %}
            {% else %}
                {% render_field field class+="form-control margin-vertical-10 margin-bottom-20 edit-title" placeholder=field.label %}
            {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}