{% extends 'base.html' %}

{% block body %}
    <!-- Single button -->
    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
        <div class="btn-group">
            <a id='star-url' href="{% url 'star' episode.id %}"></a>
            <button type="button" id='star-btn' class="btn btn-default">Star</button>
            <button type="button" class="btn btn-default">{{ episode.popularity }}</button>
        </div>
        <div class="btn-group">
            <a id='evolve-url' href="{% url 'episode_create' episode.fiction.id episode.id %}"></a>
            <button type="button" id="evolve-btn" class="btn btn-default">Evolve</button>
            <button type="button" class="btn btn-default">{{ children }}</button>
        </div>
        <div class="btn-group">
            <a href="{% url 'storyline' %}">
                <button class="btn btn-default btn-success">See entire storyline</button>
            </a>
        </div>
    </div>
    <h1>{{ episode }}</h1>
    {% if episode.parent %}
        <h3>&nbsp;&nbsp;->
            <a href="{% url 'episode' episode.parent.id %}">{{ episode.parent }}</a>
        </h3>
    {% endif %}
    <hr/>
    {% if request.user.profile.id == episode.author.id %}
    <a href="{% url 'episode_edit' episode.id%}">
        <button class="btn btn-default btn-primary pull-right">Edit Episode</button>
    </a>
    {% endif %}
    <br/>
    {{ episode.content }}
    <hr/>

    <nav>
      <ul class="pager">
          {% if not episode.parent %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
          {% else %}
              <li class="previous"><a href="{% url 'episode' episode.parent.id %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
          {% endif %}
            <li class="next"><a href="{% url 'next' episode.id %}">Next<span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>

    {% include '_comment.html'  %}
{% endblock %}

{% block additional_script %}
    <script>
        $('#star-btn').click(function(){
            document.getElementById('star-url').click();
        })
        $('#evolve-btn').click(function(){
            document.getElementById('evolve-url').click();
        })
    </script>
{% endblock %}