{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="name">{{ field.label }}:</label>
                {% render_field field class+="form-control margin10" placeholder=field.label %}
            </div>
        {% endfor %}
        <input class="btn btn-default btn-block btn-primary margin10" id="register" type="submit" name="edit_episode"
               value="Create Episode"/>
    </form>
{% endblock %}