{% extends 'base.html' %}

{% block body %}
    <!-- Single button -->
    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Star</button>
            <button type="button" class="btn btn-default">50</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Evolve</button>
            <button type="button" class="btn btn-default">50</button>
        </div>
        <div class="btn-group">
            <a href="{% url 'storyline' %}">
                <button class="btn btn-default btn-primary">See entire storyline</button>
            </a>
        </div>
    </div>
    <h1>{{ episode }}</h1>
    <h3>&nbsp;&nbsp;-> {{ episode.parent }}</h3>
    <hr/>
    <button class="btn btn-default btn-primary pull-right">Edit Episode</button>
    <h2>{{ episode.title }}</h2>
    <br/>
    {{ episode.content }}
    <hr/>
    <h3>Comments</h3>
    <blockquote>Ziqi on 7:13 Oct 10, 2015</blockquote>
    <p>Suspendisse finibus dui dolor, eu pellentesque nisi bibendum et. Aenean ligula urna, pulvinar iaculis odio
        vitae, auctor iaculis enim. Fusce auctor in lectus sed ornare. Duis a scelerisque nisi. Cras ultrices dui id
        massa blandit efficitur. Cras est dui, maximus eu vehicula a, varius at ligula. Duis ut volutpat ipsum. Donec ac
        purus lacinia, feugiat nunc et, fermentum dolor. Maecenas tempor lacus massa, a iaculis ex ornare sed.
        Vestibulum porttitor velit sed eros rutrum tempus. Vestibulum imperdiet lorem quis dignissim venenatis. Nullam
        nec metus condimentum, tristique metus at, porta justo. In dignissim eget mauris sed ornare.</p>
    <blockquote>Kent on 8:15 Oct 11, 2015</blockquote>
    <p>Suspendisse finibus dui dolor, eu pellentesque nisi bibendum et. Aenean ligula urna, pulvinar iaculis odio
        vitae, auctor iaculis enim. Fusce auctor in lectus sed ornare. Duis a scelerisque nisi. Cras ultrices dui id
        massa blandit efficitur. Cras est dui, maximus eu vehicula a, varius at ligula. Duis ut volutpat ipsum. Donec ac
        purus lacinia, feugiat nunc et, fermentum dolor. Maecenas tempor lacus massa, a iaculis ex ornare sed.
        Vestibulum porttitor velit sed eros rutrum tempus. Vestibulum imperdiet lorem quis dignissim venenatis. Nullam
        nec metus condimentum, tristique metus at, porta justo. In dignissim eget mauris sed ornare.</p>
    <form role="form">
            <h4>Create New Comment</h4>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <br />
            <button type="submit" class="btn btn-default btn-block btn-primary">Comment</button>
    </form>
    <div class="margin20"></div>
{% endblock %}