{% extends 'base.html' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <!-- Single button -->
    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
        <div class="btn-group">
            <a id='star-url' href="{% url 'star' episode.id %}"></a>
            <button type="button" id='star-btn' class="btn btn-default">
                {% if starred %}
                    Unstar
                {% else %}
                    Star
                {% endif %}
            </button>
            <button type="button" class="btn btn-default">{{ episode.popularity }}</button>
        </div>
        <div class="btn-group">
            <a id='evolve-url' href="{% url 'episode_create' episode.fiction.id episode.id %}"></a>
            <button type="button" id="evolve-btn" class="btn btn-default">Evolve</button>
        </div>
        {% if request.user.profile.id == episode.author.id %}
            <div class="btn-group">
                <a href="{% url 'episode_edit' episode.id %}">
                    <button class="btn btn-default btn-primary pull-right">Edit Episode</button>
                </a>
            </div>
        {% endif %}
    </div>
    <h1>{{ episode }}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <div class="left-align">
                    {% if previous_list %}
                        <h3>Previous Episodes</h3>
                        {% for previous in previous_list %}
                            <div><a href="{% url 'episode' previous.id %}">{{ previous }}</a></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <div class="left-align">
                    {% if next_list %}
                        <h3>Next Episodes</h3>
                        {% for next in next_list %}
                            <div><a href="{% url 'episode' next.id %}">{{ next }}</a></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center nounderline">
        <a href="{% url 'fiction' episode.fiction.id %}">
            <button class="btn btn-default btn-primary">View all storylines</button>
        </a>
        <a href="{% url 'storyline' episode.id %}">
            <button class="btn btn-default btn-primary">Read story from beginning</button>
        </a>
    </div>
    <hr/>
    <p><a href="{% url 'profile' episode.author.id %}">{{ episode.author }}</a>
                            | {{ episode.created_date }}</p>
    {{ episode.content |safe }}
    <hr/>
    {% include '_comment.html' %}
{% endblock %}

{% block additional_script %}
    <script>
        $('#star-btn').click(function () {
            document.getElementById('star-url').click();
        })
        $('#evolve-btn').click(function () {
            document.getElementById('evolve-url').click();
        })
    </script>
{% endblock %}