<row>
    <a href="{% url 'create_fiction' %}">
        <button class="btn btn-default btn-primary pull-right">New Story</button>
    </a>

    <h1>Your works</h1>
    <br/>
    <ul class="list-group">
        {% for fiction in fictions %}
            <li class="list-group-item">
            <a href="{% url 'fiction' fiction.id %}"><h2>{{ fiction.title }}</h2></a>
            <div class="margin20"></div>
            <ul class="list-group">
                {% for episode in episodes %}
                    {% if episode.fiction.id == fiction.id %}
                        <li class="list-group-item">
                        <a href="{% url 'episode' episode.id %}">{{ episode }}</a>
                        <span style="float: right"> <a href="{% url 'episode_create' episode.fiction.id episode.id %}">Evolve</a> |
                            <a href="{% url 'episode_edit' episode.id %}">Edit</a>
                        </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</row>