<row>
    <a href="{% url 'create_fiction' %}">
        <button class="btn btn-default btn-primary pull-right">New Story</button>
    </a>

    <h1>Your works</h1>
    <br/>
    <ul class="list-group">
        {% for fiction in fictions %}
            <li class="list-group-item">
            <a href="#">
                <button class="btn btn-default btn-primary pull-right">New Episode</button>
            </a>

            <h2>{{ fiction.title }}</h2>

            <div class="margin20"></div>
            <ul class="list-group">
                {% for episode in episodes %}
                    {% if episode.fiction.id == fiction.id %}
                        <li class="list-group-item">
                        <a href="{% url 'episode' episode.id %}">{{ episode.title }}</a>
                        <span style="float: right">
                            <a href="{% url 'episode_edit' episode.id %}">Edit</a>
                        </span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</row>