{% load navigation_tags %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">OFiction</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
                    <div class="form-group">
                        <input name="query" type="text" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <li class="{% active_nav request 'explore' %}"><a href="{% url 'explore' %}">Explore</a></li>
                <!-- <li class="active"><a href="{% url 'notifications' %}">Notifications <span class="sr-only">(current)</span></a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Manage Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% active_nav request '' %}"><a href="{% url 'home' %}">Your Works</a></li>
                        <li class="{% active_nav request 'profile' %}"><a href="{% url 'profile' request.user.profile.id %}">Your Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>