{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "custom/main.scss" %}"/>
    {% endcompress %}
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block title %}
    {% endblock %}
    <title>Welcome</title>
</head>
<body>
{% include '_navigation_user.html' %}
<div class="col-md-1"></div>
<div class="content col-md-10">
    <div class="wrapper">
        {% block body %}
        {% endblock %}
    </div>
    {% include '_footer.html' %}
</div>
<div class="col-md-offset-1"></div>
<script src="{% static 'jquery.js' %}"></script>
{% block additional_script %}
{% endblock %}
</body>
</html>