{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Trending Stories</h1>
    <br/>
    <ul class="list-group">
    {% for genre,genre_fictions in fictions.items %}
        <li class="list-group-item">
        <ul class="list-group">
            <h2>{{ genre.name }}</h2>
            {% for fiction in genre_fictions %}
            <li class="list-group-item">
                <a href="{% url 'fiction' fiction.id %}">{{ fiction.title }}</a>
                <span style="float: right">{{ fiction.popularity }}</span>
            </li>
            {% endfor %}
        </ul>
        </li>
        <li class="list-group-item">
    {% endfor %}
    </ul>
{% endblock %}