{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <h1>Sign In</h1>
    <br/>
    <div class="account-form">
        <form role="form" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="name">{{ field.label }}:</label>
                    <div class="row">
                        <div class="col-md-8">
                            {% render_field field class+="form-control margin10" placeholder=field.label %}
                        </div>
                        <div class="col-md-4">{{ field.errors.0 }}</div>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default btn-primary btn-ofiction-form">Sign in</button>
        </form>
    </div>
    <a href="{% url "password_reset_recover" %}">Reset Password</a>
{% endblock %}