{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <h1>Sign Up</h1>
    <br/>
    <div class="account-form">
        <form role="form" method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="name">{{ field.label }}:</label>
                    <div class="row">
                        <div class="col-md-8">
                            {% render_field field class+="form-control margin10" placeholder=field.label %}
                        </div>
                        <div class="col-md-4">{{ field.errors.0 }}</div>
                    </div>
                </div>
            {% endfor %}
            <input class="btn btn-default btn-ofiction-form btn-primary margin10" id="register" type="submit" name="profile"
                   value="Sign up"/>
        </form>
    </div>
{% endblock %}