{% extends 'base.html' %}
{% load static %}

{% block body %}
    <a href="{% url 'pdf' pdf_name %}"><button type="button" class="btn btn-default btn-primary pull-right">Generate PDF</button></a>
    <h1><a href="{% url 'fiction' fiction.id %}">{{ fiction.title }}</a></h1>
    <br/>
    {% for episode in episodes %}
        <div class="panel-group">
            <div class="panel panel-default">
                <a class="ofiction-panel" data-toggle="collapse" href="#{{ episode.id }}">
                    <div class="ofiction-panel-heading panel-heading">
                        <h4 class="ofiction-panel-header">
                            {{ episode.title }}
                        </h4>
                        <p>{{ episode.summary }}</p>
                    </div>
                </a>
                <div id="{{ episode.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><a href="{% url 'profile' episode.author.id %}">{{ episode.author }}</a>
                            | {{ episode.created_date }}</p>
                        {{ episode.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}