{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "custom/jquery.qtip.min.css" %}"/>
{% endblock %}

{% block javascript %}
    <script src="{% static "js/cytoscape.min.js" %}"></script>
    <script src="{% static "js/dagre.min.js" %}"></script>
    <script src="{% static "js/cytoscape-dagre.js" %}"></script>
    <script src="{% static "js/jquery.qtip.min.js" %}"></script>
    <script src="{% static "js/cytoscape-qtip.js" %}"></script>
    <script src="{% static "js/jsonQ.min.js" %}"></script>
    <script src="{% static "custom/storyline.js" %}"></script>
{% endblock %}

{% block body %}
    <div id="cy"></div>
    <script>
        $(document).ready(function () {
            $.ajax({
                       url: "/api/fiction/1/"
                   }).then(function (content) {
                var edge_list = [];
                jsonQ.each(content, function (key, value) {
                    var node = {group: "nodes", data: {}};
                    var id = value.id;
                    node.data["id"] = value.id;
                    node.data["label"] = value.title;
                    node.data["summary"] = value.summary;
                    node.data["popularity"] = value.popularity * 5 + 15;
                    cy.add(node);
                    jsonQ.each(value.previous_ids_without_parent, function (key, value) {
                        var edge = {group: "edges", data: {}};
                        edge.data["source"] = value;
                        edge.data["target"] = id;
                        edge_list.push(edge);
                    });
                    jsonQ.each(value.next_ids_without_parent, function (key, value) {
                        var edge = {group: "edges", data: {}};
                        edge.data["source"] = id;
                        edge.data["target"] = value;
                        edge_list.push(edge);
                    });
                });
                jsonQ.each(edge_list, function (key, value) {
                    cy.add(value);
                });
                cy.layout({name: "dagre"});
                cy.on('mouseover', 'node', function (event) {
                    var node = event.cyTarget;
                    var summary = node.attr('summary');
                    node.qtip({
                                  content: summary,
                                  position: {
                                      at: 'bottom center'
                                  },
                                  show: {
                                      event: "mouseover",
                                      solo: true,
                                      ready: true
                                  },
                                  hide: {
                                      event: 'mouseout'
                                  },
                                  style: {
                                      classes: 'qtip-bootstrap',
                                      tip: {
                                          width: 16,
                                          height: 8
                                      }
                                  }
                              }, event);
                });
            }, function (xhr, status, error) {
                console.log(error);
            });
        });
    </script>
{% endblock %}