{% extends 'base.html' %}

{% block body %}
    <a href="{% url 'storyline' %}"><button class="btn btn-default btn-primary pull-right">See entire storyline</button></a>
    <h1>Kent/NVC/Episode-4</h1>
    <h3>&nbsp;&nbsp;-> Kent/NVC/Episode-3</h3>
    <hr/>
    <h2>Episode 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor eros vitae diam ultrices porta. Praesent in
        sapien ex. Duis non blandit libero, id sodales orci. Integer nisi massa, interdum non convallis ut, efficitur a
        risus. Vestibulum eu augue eu purus interdum consequat. Maecenas sit amet felis vitae sapien faucibus porta sed
        eu tortor. Sed consectetur consequat nunc, non tempus mauris sollicitudin eu. Fusce condimentum aliquam dictum.
        Aenean ut ligula semper, pretium urna quis, euismod quam. Donec non dui urna. Ut scelerisque vestibulum quam, id
        fermentum arcu maximus in.</p>
    <p>Quisque diam erat, sagittis ac ex vitae, maximus fermentum nunc. Proin congue arcu ut ante elementum, laoreet
        lobortis orci sagittis. Duis at tortor eu justo fermentum euismod sit amet iaculis ipsum. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Sed sodales dui et justo aliquam, lacinia malesuada velit imperdiet. Sed
        eget ligula urna. Donec ut mauris quis felis mattis pellentesque. Pellentesque sit amet felis quis augue
        consectetur gravida id eget diam. Cras nec convallis odio, et semper nisl.</p>

    <p>Quisque sit amet ligula est. Quisque ultrices tempus nisi, eu euismod diam pretium et. Vestibulum molestie a
        ligula hendrerit ultrices. Duis accumsan pulvinar nisi, at pellentesque justo accumsan quis. Proin tempor nisi
        in efficitur tempor. Donec quis sollicitudin sapien. Vestibulum sit amet malesuada lacus. Etiam at turpis mi.
        Pellentesque at dictum ex. Integer in tincidunt erat. Nullam varius, felis sed placerat lobortis, tortor sem
        euismod massa, ac ornare dui quam ut dolor. Nunc eget erat magna.</p>

    <p>Integer a nunc id dui facilisis laoreet at a ante. Phasellus ac ornare dolor, sed imperdiet diam. Quisque
        dignissim mollis tellus et interdum. Quisque pharetra arcu vel diam cursus, et imperdiet sapien mattis. Proin
        tortor dolor, feugiat et metus sed, imperdiet dignissim lacus. Donec semper finibus justo, in venenatis dolor
        mollis vitae. Maecenas et nulla elementum sapien convallis molestie et vitae arcu. Donec pretium mauris ut nibh
        tristique mattis. Nullam feugiat tincidunt ornare. Donec eleifend justo in leo consectetur, quis molestie magna
        hendrerit.</p>

    <p>Suspendisse finibus dui dolor, eu pellentesque nisi bibendum et. Aenean ligula urna, pulvinar iaculis odio
        vitae, auctor iaculis enim. Fusce auctor in lectus sed ornare. Duis a scelerisque nisi. Cras ultrices dui id
        massa blandit efficitur. Cras est dui, maximus eu vehicula a, varius at ligula. Duis ut volutpat ipsum. Donec ac
        purus lacinia, feugiat nunc et, fermentum dolor. Maecenas tempor lacus massa, a iaculis ex ornare sed.
        Vestibulum porttitor velit sed eros rutrum tempus. Vestibulum imperdiet lorem quis dignissim venenatis. Nullam
        nec metus condimentum, tristique metus at, porta justo. In dignissim eget mauris sed ornare.</p>
{% endblock %}